body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}


header{
    display: flex;
    height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px
}

h2{
    font-family: Bebas Neue;
    font-size: 50px;
}

.logo{
    display: flex;
    align-items: center;
}


nav a{
    font-weight: 600;
    padding-right: 10px;
}

.logo img{
    height: 100px;
    margin-right: 11px;
}

.banner img{
    max-width: 1305px;
    max-height: 710px;
    
}


h1{
  
    display: block;
    text-align: center;
    font-size: 72px;
    font-family: Bebas Neue;
    color: white;

    
}

p{
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: solid;
    font-family: Oswald
    

    
    
}



body{
    background-image: url(../imagenes/Back.jpg) ; 
    background-size: contain;
    
}

.textodestacado{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-family: Roboto Condensed


}